<div>
  <!-- searh bar -->
  <form #form="ngForm" class="filter-form">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="searchText"
        placeholder="Search activity number"
        (input)="applyFilters()"
        name="searchField"
      />
      <mat-icon class="search-icon" color="primary" matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- select -->
    <mat-form-field class="filter-form-right">
      <mat-label>Status</mat-label>
      <mat-select
        [(ngModel)]="selectedStatus"
        name="status"
        (selectionChange)="applyFilters()"
        multiple
      >
        <mat-option *ngFor="let topping of statusList" [value]="topping">{{
          topping
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- select activity -->
    <mat-form-field class="filter-form-right">
      <mat-label>Ärendetyp</mat-label>
      <mat-select
        [(ngModel)]="selectedErrand"
        name="errand"
        (selectionChange)="applyFilters()"
      >
        <mat-option *ngFor="let errand of errands" [value]="errand.name">
          {{ errand.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- date picker -->
    <integrated-date-picker
      class="filter-form-right"
      (update)="onUpdate($event)"
    ></integrated-date-picker>
  </form>
</div>
