<table
  mat-table
  *ngIf="dataSource"
  [dataSource]="dataSource"
  matSort
  (matSortChange)="onMatSortChange()"
  class="activity-table"
>
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
    <ng-container *ngIf="column.sortable; then sortable; else notSortable">
    </ng-container>

    <ng-template #sortable>
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="activity-table-cell"
      >
        {{ column.display }}
      </th>
    </ng-template>

    <ng-template #notSortable>
      <th mat-header-cell *matHeaderCellDef class="activity-table-cell">
        {{ column.display }}
      </th>
    </ng-template>

    <td mat-cell *matCellDef="let element" class="activity-table-cell">
      <!-- Populate columns -->
      <ng-container
        *ngTemplateOutlet="
          column.name === 'Actions' ? actionTemplate : tagTemplate
        "
      >
      </ng-container>

      <ng-template #actionTemplate>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Action button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let item of actions">
            <button mat-menu-item (click)="action(item, element)">
              <mat-icon>{{ item.icon }}</mat-icon>
              <span>{{ item.name }}</span>
            </button>
          </ng-container>
        </mat-menu>
      </ng-template>

      <ng-template #tagTemplate>
        <ng-container *ngIf="column.name !== 'tags'; else chipTemplate">
          {{ element[column.name] }}
        </ng-container>

        <ng-template #chipTemplate>
          <mat-chip-listbox aria-label="Action selection">
            <ng-container *ngFor="let tag of element.tags">
              <mat-chip [style.background]="tag.color">
                {{ tag.name }}
              </mat-chip>
            </ng-container>
          </mat-chip-listbox>
        </ng-template>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="example-detail-row"
  ></tr>
</table>
