.activity-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.activity-table-cell {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th.mat-sort-header-sorted {
  color: black;
}
